<mat-card class="centered">
    <mat-card-content class="boxContent">
        <div class="signup-box">
            <h1 class="title">Sign Up</h1>
            <div class="example-container">
                <mat-form-field appearance="fill">
                    <mat-label>Enter your Email ID</mat-label>
                    <input matInput #emailInput>
                </mat-form-field>
                <mat-form-field appearance="fill">
                  <mat-label>Enter your password</mat-label>
                  <input #pwInput matInput [type]="hide ? 'password' : 'text'" (keyup.enter)="onSignupBtnClick(emailInput.value, pwInput.value)">
                  <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                  </button>
                  <mat-hint>Min 8 Characters</mat-hint>
                </mat-form-field>
            </div>
            <div class="btnContainer">
                <button class="loginBtn" mat-raised-button (click)="onSignupBtnClick(emailInput.value, pwInput.value)">Sign up</button>
            </div>
            <p class="noAccountText">
                Already got an account?
                <a routerLink="/login" class="signUpText">Login</a>
                now!
            </p>
        </div>
    </mat-card-content>
</mat-card>