<mat-card class="centered">
    <mat-card-content class="boxContent">
        <div class="model-box">
            <h1 class="title">Create a New List</h1>

            <p class="inputWrapper">
                <mat-form-field class="inputBox" appearance="fill">
                  <mat-label>Enter list name</mat-label>
                  <input matInput #listTitleInput>
                  <!-- <mat-hint>Hint</mat-hint> -->
                </mat-form-field>
            </p>

            <div class="btnContainer">
                <button class="createListBtn" mat-raised-button (click)="createList(listTitleInput.value)">Create</button>
                <button class="cancelBtn" mat-raised-button routerLink="/">Cancel</button>
            </div>
            
        </div>
    </mat-card-content>
</mat-card>